<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retrieve Secret</title>
    <link rel="stylesheet" href="/styles.css">
    <script>
        async function retrieveSecret() {
            const key = atob(window.location.hash.substring(1));
            const encryptedSecret = atob("{{.EncryptedSecret}}");
            const secret = await decrypt(encryptedSecret, key);
            document.getElementById('secret').innerText = secret;
        }

        async function decrypt(encrypted, key) {
            const iv = new Uint8Array([...encrypted].slice(0, 12).map(c => c.charCodeAt(0)));
            const data = new Uint8Array([...encrypted].slice(12).map(c => c.charCodeAt(0)));
            const algorithm = {name: 'AES-GCM', iv: iv};
            const cryptoKey = await crypto.subtle.importKey('raw', new Uint8Array([...key].map(c => c.charCodeAt(0))), algorithm, false, ['decrypt']);
            const decrypted = await crypto.subtle.decrypt(algorithm, cryptoKey, data);
            const decoder = new TextDecoder();
            return decoder.decode(decrypted);
        }

        function copySecret() {
            const secret = document.getElementById('secret').innerText;
            navigator.clipboard.writeText(secret);
        }

        window.onload = retrieveSecret;
    </script>
</head>
<body>

<div class="container">
    <p id="secret">Loading...</p>
    <button class="secondary" onclick="copySecret()">Copy Secret</button>
</div>
</body>
</html>