<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retrieve Secret</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon"
          href="data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='6' y='10' width='12' height='10' rx='2' ry='2' fill='%23000' /%3E%3Cpath d='M8 10V7C8 4.79 9.79 3 12 3C14.21 3 16 4.79 16 7V10' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E"
          type="image/svg+xml">
    <script>
        async function retrieveSecret() {
            const key = atob(window.location.hash.substring(1));
            const encryptedSecret = atob("{{.EncryptedSecret}}");
            const secret = await decrypt(encryptedSecret, key);
            document.getElementById('secret').innerText = secret;
        }

        async function decrypt(encrypted, key) {
            const iv = new Uint8Array([...encrypted].slice(0, 12).map(c => c.charCodeAt(0)));
            const data = new Uint8Array([...encrypted].slice(12).map(c => c.charCodeAt(0)));
            const algorithm = {name: 'AES-GCM', iv: iv};
            const cryptoKey = await crypto.subtle.importKey('raw', new Uint8Array([...key].map(c => c.charCodeAt(0))), algorithm, false, ['decrypt']);
            const decrypted = await crypto.subtle.decrypt(algorithm, cryptoKey, data);
            const decoder = new TextDecoder();
            return decoder.decode(decrypted);
        }

        function copySecret() {
            const secret = document.getElementById('secret').innerText;
            navigator.clipboard.writeText(secret);
        }

        window.onload = retrieveSecret;
    </script>
</head>
<body>

<div class="container">
    <p id="secret" class="textbox">Loading...</p>
    <button class="secondary" onclick="copySecret()">Copy Secret</button>
</div>
</body>
</html>