<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quick-share</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" href="/favicon.svg"/>
    <script src="/secrets.js"></script>
</head>
<body>

<div id="dataContainer" style="display: none;">{{.EncryptedSecret}}</div>
<div class="container">
    <p id="secret" class="textbox">Loading...</p>
    <button class="secondary" onclick="copySecret()">Copy Secret</button>
    <hr class="solid"/>
    <button onclick="window.location.href = '/';" class="primary">Create my own secret</button>
</div>
</body>
</html>